<!-- Header -->
<div class="w3-container" style="margin-top:25px;">
    <h1 class="w3-text-dark-grey ">Information about engineer and current project</h1>
    <p class="w3-text-dark-grey">The filled data will be reflected in output design report</p>
</div>

<br>

<!-- Page content -->
<div class="w3-card w3-margin-left w3-margin-right">
    <div class="w3-container w3-indigo">
        <h4><i class="fa fa-th"></i> Project Details</h4>
    </div>
    <div class="w3-container w3-white">
        <div class="w3-row-padding w3-margin-top">
            <div class="w3-col" style="width:33%">
                <label><i class="fa fa-user-o"></i> Name</label>
                <input id="name" class="w3-input w3-border" type="text">
            </div>
            <div class="w3-col" style="width:33%">
                <label><i class="fa fa-user-o"></i> Surname</label>
                <input id="surname" class="w3-input w3-border" type="text">
            </div>
            <div class="w3-col" style="width:34%">
                <label><i class="fa fa-registered"></i> Organization</label>
                <input id="organization" class="w3-input w3-border">
            </div>
        </div>
        <div class="w3-row-padding w3-margin-top">
            <div class="w3-col" style="width:33%">
                <label><i class="fa fa-street-view"></i> Adress</label>
                <input id="adress" class="w3-input w3-border" type="text">
            </div>
            <div class="w3-col" style="width:33%">
                <label><i class="fa fa-mobile-phone"></i> Phone</label>
                <input id="phone" class="w3-input w3-border" type="text">
            </div>
            <div class="w3-col" style="width:34%">
                <label><i class="fa fa-envelope-o"></i> Email</label>
                <input id="email" class="w3-input w3-border" type="text">
            </div>
        </div>
        <div class="w3-row-padding w3-margin-top">
            <div class="w3-col" style="width:33%">
                <label><i class="fa fa-university"></i> Project Name</label>
                <input id="project_name" class="w3-input w3-border" type="text">
            </div>
            <div class="w3-col" style="width:33%">
                <label><i class="fa fa-newspaper-o"></i> Project ID</label>
                <input id="project_id" class="w3-input w3-border" type="text">
            </div>
            <div class="w3-col" style="width:34%">
                <label><i class="fa fa-flag-o"></i> Project Location</label>
                <input id="project_location" class="w3-input w3-border" type="text">
            </div>
        </div>
        <div class="w3-row-padding w3-margin-top">
            <div class="w3-col" style="width:100%">
                <label><i class="fa fa-edit"></i> Project Notes</label>
                <textarea id="notes" class="w3-input w3-border" style="resize:none" type="text" rows="4"></textarea>
            </div>
        </div>
        <br>
    </div>
</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>



